/* mobile */

/* main */
main {
    width: 100%;
    padding: 18px;
    margin-bottom: 58px;
}

/* statistics */
#statistics > div {
    height: auto;

    flex-wrap: wrap;
    gap: 18px;
}

#statistics > div > .col {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    min-width: 100px;
    height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 0.2s ease-in-out;
}

#statistics > div > .col > h3 {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.4px;
    color: #9FA2B4;

    transition: all 0.2s ease-in-out;
}

#statistics > div > .col > p {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #252733;

    transition: all 0.2s ease-in-out;
}


/* today's trend */
#today-trend {
    padding: 0;
    margin: 30px auto;
}

#today-trend > div {
    display: flex;
    flex-direction: column;
}

.col8 {
    height: 500px;
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px 8px 0 0;
    padding: 22px;
}

.col8 > div {
    margin-top: 0;

    flex-direction: column;
    
    text-align: left;
}

h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-align: left;
    color: #252733;
}

.col8 > div > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

#line-chart {
    width:100%;
    max-width:1000px;
    height: 380px;
    max-height: 380px;
}

#line-chart-legend {
    margin-top: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#line-chart-legend > svg {
    margin: auto 0;
}

#line-chart-legend > span {
    margin-left: 6px;
    margin-right: 28px;

    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

.col4 {
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 0 0 8px 8px;
    padding: 22px;

    display: flex;
    flex-wrap: wrap;
}

.col4 > div {
    margin: 0;
    border-bottom: 1px solid #DFE0EB;
    border-right: 1px solid #DFE0EB;

    width: calc(100% / 3);
    height: calc(546px / 5);
}

.col4 > div > h4 {
    margin-bottom: 6px;

    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9FA2B4;
}

.col4 > div > p {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.3px;
    color: #252733;
}

#last-2-trend,
#last-trend {
    width: 50%;
    border-bottom: 0;
}

#last-trend {
    border: 0;
}


/* tickets & tasks */
#tickets-tasks > div {
    flex-direction: column;
    gap: 30px;
}

#unresolved-tickets,
#tasks {
    height: 325px;

    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 22px;
}

#unresolved-tickets > hr,
#tasks > hr {
    background-color: #DFE0EB;
    width: calc(100% + 44px);
    height: 1px;
    margin: 0;
    margin-left: -22px;
}

#title-title > button,
#task > button {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;
    text-decoration: none;
    color: #3751FF;
}

#title-group > p,
#task > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

#title-group > p > span {
    font-weight: 600;
    line-height: 100%;
    color: #4B506D;
}

.tickets-content,
.tasks-content {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.tickets-content > p {
    margin: 0;
    color: #252733;
}

.tickets-content > span {
    text-align: right;
    color: #9FA2B4;
}

.tasks-content > button {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #F0F1F7;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #9FA2B4;
}

.tasks-content > p {
    margin: 0;

    color: #C5C7CD;
}

#create-btn {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
}

.form-check {
    margin: 0;
    height: 20px;
    display: flex;
    align-items: center;
}

#tasks-check {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #C5C7CD;
    margin-right: 16px;
    margin-bottom: 2px;
}

#tasks-check:checked {
    background-color: #3751FF;
    width: 20px;
    height: 20px;
    border: none;
}

.form-check-label {
    margin: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

#urgent-btn {
    width: 74px;
    background-color: #FEC400;
    color: white;
}

#new-btn {
    width: 54px;
    background-color: #29CC97;
    color: white;
}

#default-btn {
    width: 76px;
}


/* filter modal */
.modal {
    --bs-modal-border-color: none;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

.modal-header {
    border: 0;
}

.modal-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-align: left;
    color: #252733;
}

#modal-cancel-btn {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #9FA2B4;
}

#modal-create-btn {
    background-color: #3751FF;
    box-shadow: 0 5px 5px rgba(55, 81, 255, 0.2);

    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: white;
}

/* filter input */
fieldset > div {
    margin: 16px auto;
}

fieldset label {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #9FA2B4;
}

.form-control {
    border: 1px solid #DFE0EB;
}



/* tablet */
@media screen and (min-width: 376px) {

    /* main */
    main {
        width: calc(100% - 70px);
        margin-left: 70px;
        margin-bottom: 0;
        padding: 30px;
    }

    /* statistics */
    #statistics > div {
        height: auto;
        gap: 30px;
    }

    #statistics > div > .col {
        min-width: 200px;
        height: 134px;
    }

    #statistics > div > .col > h3 {
        font-size: 19px;
    }

    #statistics > div > .col > p {
        font-size: 40px;
    }

    /* today's trend */
    h5 {
        font-size: 19px;
    }

    .col8 > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #line-chart-legend {
        margin-top: 0;

        justify-content: flex-end;
    }

    #line-chart-legend > svg {
        margin-left: 28px;
    }

    #line-chart-legend > span {
        margin-right: 0;
    }

    .col4 > div > h4 {
        font-size: 16px;
        line-height: 22px;
    }

    .col4 > div > p {
        font-size: 24px;
    }
}



/* desktop */
@media screen and (min-width: 769px) {

    /* main */
    main {
        width: calc(100% - 255px);
        margin-left: 255px;
        padding: 30px;
    }

    /* statistics */
    #statistics > div {
        height: 134px;
    }

    #statistics > div > .col-md:hover {
        border: 1px solid #3751FF;
        cursor: pointer;
    }

    #statistics > div > .col-md:hover .child {
        color: #3751FF;
    }


    /* today's trend */
    #today-trend > div {
        flex-direction: row;
    }
    
    .col8 {
        width: calc(100% / 3 * 2);
        height: 546px;
        border-radius: 8px 0 0 8px;
        padding: 32px;
    }

    .col8 > div {
        margin-top: 4px;
    }

    #line-chart {
        width:100%;
        max-width:1000px;
        height: 380px;
        max-height: 380px;
    }

    .col4 {
        width: calc(100% / 3);
        height: 546px;

        border-radius: 0 8px 8px 0;
        padding: 32px;
    }

    .col4 > div {
        margin: 0;
        border-right: 0;

        width: 100%;
        height: calc(546px / 5);
    }

    .col4 > div > h4 {
        margin-bottom: 6px;

        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.3px;
        text-align: center;
        color: #9FA2B4;
    }

    .col4 > div > p {
        margin: 0;

        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.3px;
        color: #252733;
    }

    #last-2-trend{
        width: 100%;
        border-bottom: 1px solid #DFE0EB;
    }

    #last-trend {
        width: 100%;
        border: 0;
    }


    /* tickets & tasks */
    #tickets-tasks > div {
        height: 336px;

        flex-direction: row;
    }

    #unresolved-tickets,
    #tasks {
        height: 336px;
        padding: 32px;
    }

    #unresolved-tickets > hr,
    #tasks > hr {
        width: calc(100% + 64px);
        margin-left: -32px;
    }
}